@tailwind base;
@tailwind components;
@tailwind utilities;

.cardcomp {
  @apply bg-base-100 p-4 shadow-lg border-2 rounded-box border-gray-200;
}

.col {
  display: flex;
  flex-direction: column;
}
.htmx-indicator {
  display: none;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
  display: flex;
}
.htmx-request.htmx-indicator {
  display: flex;
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition:
    opacity 0.6s ease-out,
    transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.main{
	background-image: url('/media/westerbergs_fastigheter.mp4');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.para {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to the element */
.fadein {
  opacity: 0; /* Ensure the element is invisible initially */
  animation: fadeIn 1s forwards; /* 1s is the duration of the animation */
}

html, body, label {
  font-family: 'Arial', sans-serif;
}
