
<div id="navbar" class="navbar {% if fixed %} fixed text-white {% endif %} z-50 " >
  <div class="navbar-start">
    <div class="dropdown z-50">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="text-black menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="/" >Startsida</a></li>
      <li>
        <details>
          <summary>Ledigt just nu</summary>
          <ul class="p-2 text-black ">
            <li><a href="/lediga-lagenheter" >Alla</a></li>
            <li><a href="/lediga-lagenheter?select=1" >Norrköping</a></li>
            <li><a href="/lediga-lagenheter?select=2" >Söderköping</a></li>
            <li><a href="/lediga-lagenheter?select=3" >Åby</a></li>
            <li><a href="/lediga-lokaler" >Lokaler</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>För hyresgäster</summary>
          <ul class="p-2 text-black">
            <li><a href="/serviceanmalan" >Serviceanmälan</a></li>
            <li><a href="/hyresgastinformation" >Hyresgästinformation</a></li>
            <!-- <li><a href="/intresseanmalan" >Intresseanmälan</a></li> -->
            
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Fastigheter</summary>
          <ul class="p-2 text-black">
            <li><a href="/fastigheter" >Alla</a></li>
            <li><a href="/fastigheter?select=Norrköping" >Norrköping</a></li>
            <li><a href="/fastigheter?select=Söderköping" >Söderköping</a></li>
            <li><a href="/fastigheter?select=Åby" >Åby</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/kontakt" >Kontakt</a></li>
      </ul>
    </div>
    <!-- <a class="btn btn-ghost text-xl">Westerbergs fastigheter</a> -->
    <a href="/">
      <img id="navbar-logo" width="300" src="{% if fixed %} {% else %}/static/blue_logo.png{% endif %}" alt="" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 ">
      <li><a href="/" >Startsida</a></li>
      <li>
        <details>
          <summary>Ledigt just nu</summary>
          <ul class="p-2 text-black z-10">
            <li><a href="/lediga-lagenheter" >Alla</a></li>
            <li><a href="/lediga-lagenheter?select=Norrköping" >Norrköping</a></li>
            <li><a href="/lediga-lagenheter?select=Söderköping" >Söderköping</a></li>
            <li><a href="/lediga-lagenheter?select=Åby" >Åby</a></li>
            <li><a href="/lediga-lokaler" >Lokaler</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>För hyresgäster</summary>
          <ul class="p-2 text-black  z-10">
            <li><a href="/serviceanmalan" >Serviceanmälan</a></li>
            <li><a href="/hyresgastinformation" >Hyresgästinformation</a></li>
            <!-- <li><a href="/intresseanmalan" >Intresseanmälan</a></li> -->
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Fastigheter</summary>
          <ul class="p-2 text-black  z-10">
            <li><a href="/fastigheter" >Alla</a></li>
            <li><a href="/fastigheter?select=1" >Norrköping</a></li>
            <li><a href="/fastigheter?select=2" >Söderköping</a></li>
            <li><a href="/fastigheter?select=3" >Åby</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/kontakt" >Kontakt</a></li>
      <li><a href="/nyheter" >Nyheter</a></li>
    </ul>
  </div>
  <div class="navbar-end">
  </div>
</div>

{% if fixed %}

<script type="text/javascript">
   // Select the target element
    const targetElement = document.getElementById('navbar');
    const logo = document.getElementById('navbar-logo');

    // Add a scroll event listener to the window
    window.addEventListener('scroll', () => {
      // Get the scroll position
      const scrollPosition = window.scrollY;

      // Apply a class based on the scroll position
      if (scrollPosition > 100) {
        targetElement.classList.add('animate-in');
        targetElement.classList.add('duration-700');
        targetElement.classList.add('fade-in');
        targetElement.classList.add('bg-white');
        targetElement.classList.remove('text-white');
        targetElement.classList.add('text-black');
        logo.src = "/static/blue_logo.png"
      } else {
        targetElement.classList.remove('animate-in');
        targetElement.classList.remove('duration-700');
        targetElement.classList.remove('fade-in');
        targetElement.classList.remove('bg-white');
        targetElement.classList.remove('text-black');
        targetElement.classList.add('text-white');
        logo.src = ""
      }
    });
</script>

{% endif %}
