{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block content %}
	{% include "layouts/homepage.html"  %}

	<div class=" relative h-full w-full pb-12" >

		<img class="absolute bottom-0 -z-10 w-screen right-0"  src="/media/Vector 7.png" alt="" />
		<div  class="col w-full container mx-auto gap-5 mb-12 min-h-screen ">
			<div class="text-sm breadcrumbs">
				<ul>
					<li><a href="/">Startsida</a></li>
					<li><a href="/ledigt">Lediga obejekt</a></li>
					<li><a href="#">{{rental.building.adress}}</a></li>
				</ul>
			</div>

			<div>
				<h1 class="text-4xl font-bold" >{{rental.building.adress}}</h1>
				<h2 class="text-xl  font-bold">{{rental.building.get_area_display}}</h2>
			</div>
			<div class=" flex flex-col md:grid grid-cols-6 gap-5 justify-around w-full">
				<div class="cardcomp col gap-5 col-span-4 p-5 rounded-lg shadow-lg">
					<div class="min-h-[200px] max-w-[80%] mx-auto container" >
						{% include 'components/slider.html' with image=images %}
					</div>
					<div class="px-12 grid grid-cols-2 justifty-evenly" >
						<div  >
							<p class="text-3xl font-bold">{{rental.rent}} kr</p>
							<p class="text-3xl font-bold">{{rental.size}} m2</p>
							<p>{{rental.rooms}} rum</p>

							<div class="mt-5 " >
								<p>Ort: {{rental.building.get_city_display}}</p>
							</div>
							<div class="mt-5 " >
								<p>Ledig fr.o.m: {{rental.avalible_from}}</p>
							</div>
							<div class="mt-5 " >
								<h3 class="font-bold" >Förmåner</h3>
								{% for feature in rental.features %}
									<div class="badge badge-primary">{{feature}}</div>
								{% endfor %}
							</div>
						</div>
						<div>
							<h3 class="text-xl font-semibold" >Beskrivning</h3>
							<p>{{rental.description}}</p>
						</div>
					</div>
				</div>
				<div class="col col-span-2">
					<div class="cardcomp bg-base-300 flex flex-col text-end">
						<div id="Map" style="height:250px"></div>
						<a class="link link-primary" href="https://maps.google.com/?q={{rental.building.adress}}">Google maps länk</a>
					</div>
					<div class="cardcomp flex flex-col text-start">
						<a href="/buildings/building/{{rental.building.adress}}" class="link link-primary" >Fastigheten</a>
						<p>Om du är intresserad gör en intresseanmälan idag!</p>
						<a href="/intresseanmalan/bostad?rum={{rental.rooms}}&inflyttning={{rental.avalible_from}}&stad={{rental.building.get_city_display}}&omrade={{rental.building.get_area_display}}" class="btn btn-primary" >Intresseanmälan</a>
					</div>
				</div>
			</div>
		</div>
		<script defer src="/static/slide.js"></script>
		<script src="/media/OpenLayers/OpenLayers.js"></script>
		<script>
			var lat            = {{rental.building.lat}};
			var lon            = {{rental.building.lon}};
			var zoom           = 17;

			var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
			var position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

			map = new OpenLayers.Map("Map");
			var mapnik         = new OpenLayers.Layer.OSM();
			map.addLayer(mapnik);

			var markers = new OpenLayers.Layer.Markers( "Markers" );
			map.addLayer(markers);
			markers.addMarker(new OpenLayers.Marker(position));

			map.setCenter(position, zoom);
		</script>
	</div>

{% endblock %}
