{% extends "base.html" %}

{% block title %}Våra Fastigheter - Westerberg Fastigheter AB{% endblock %}

{% block meta %}
    <meta name="description" content="Utforska våra fastigheter hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av fastigheter i Norrköping, Söderköping och Åby.">
    <meta name="keywords" content="Våra fastigheter, Westerberg Fastigheter, Norrköping, Söderköping, Åby, Hyresfastigheter">
    <meta property="og:title" content="Våra Fastigheter - Westerberg Fastigheter AB">
    <meta property="og:description" content="Utforska våra fastigheter hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av fastigheter i Norrköping, Söderköping och Åby.">
    <meta property="og:image" content="/media/slides/5.png">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
	{% include "layouts/homepage.html" %}

	<div hx-get="/buildings{{select}}" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#loading" ></div>
	{% include 'components/LoadingOverlay.html' %}

{% endblock %}
