{% extends "base.html" %}

{% block title %}Westerberg Fastigheter AB - Startsida{% endblock %}

{% block meta %}
	<meta name="description" content="Hyr lägenheter i Norrköping, Söderköping och Åby med vår pålitliga uthyrningsfirma. Vi erbjuder bekväma och prisvärda boenden för alla behov. Kontakta oss idag för mer information!">
	<meta name="keywords" content="hyra lägenheter, Norrköping, Söderköping, Åby, uthyrningsfirma, boende, hyreslägenheter, lägenhet i Norrköping, lägenhet i Söderköping, lägenhet i Åby, prisvärda lägenheter">
{% endblock %}

{% block content %}
    {% include "layouts/homepage.html" with fixed=True %}

    <script defer src="/static/slide.js"></script>
    <script defer src="/static/cards.js"></script>

    <div class="bg-base-100 w-screen">
        <div class="video-container text-center h-screen main w-screen gap-5">
            <div class="absolute w-screen h-screen bg-[url('/media/splash.png')]">
                <video id="homeVideo" class="w-full h-full object-top object-cover" playsinline autoplay muted loop poster="/media/splash.png">
                    <source src="/media/westerbergs_fastigheter_high.mp4" type="video/mp4">
                </video>
            </div>
            <div class="absolute top-0 right-0 w-screen h-screen bg-black bg-opacity-[25%] z-10">
                <div id="overvideo" class="duration-700 justify-start px-5 h-full flex flex-col">
                    <div class="w-screen container mx-auto justify-center flex flex-wrap pt-32">
                        <div class="animate-in fade-in duration-700 pb-5 text-white font-bold text-4xl md:text-7xl">
                            <span class="inline-block">F</span>
                            <span class="inline-block font-bold text-2xl md:text-5xl align-baseline -ml-2 md:-ml-6">AM</span>
                        </div>
                        <h1 class="animate-in fade-in duration-700 pb-5 text-white font-bold text-4xl md:text-7xl">WESTERBERG <br /> Fastigheter AB</h1>
                    </div>
                    <div id="para" class="w-full flex justify-center">
                        <p class="animate-in fade-id slide-in-from-left-72 duration-700 lg:text-2xl md:text-lg font-semibold text-white w-[200px] md:w-[400px]">Vi ser mycket långsiktigt på vårt företagande och vår målsättning är att även detta skall speglas i långvariga och trevliga kontakter med våra hyresgäster. Vi har fastigheter i Norrköping, Söderköping och Åby.</p>
                    </div>
                    <div class="mt-4 w-full h-full flex flex-col justify-end">
                        <div class="w-full flex flex-col md:flex-row gap-4 md:gap-0 md:justify-evenly pb-5">
                            {% include 'components/HomeButton.html' with delay=200 icon="Home.png" title="Ledigt just nu" url="/ledigt" %}
                            {% include 'components/HomeButton.html' with delay=500 icon="Service.png" title="Serviceärende" url="/serviceanmalan" %}
                            {% include 'components/HomeButton.html' with delay=1000 icon="Search.png" title="Intresseanmälan" url="/intresseanmalan" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-5 flex flex-col gap-12 md:min-h-screen">
            {% include 'components/slider.html' with images=images %}
        </div>
        <div hx-get="/news/cards/" hx-target="#cardholder" hx-trigger="load" hx-on::after-request="cards()" class="relative mt-12 p-5 flex flex-col gap-12 min-h-screen items-center w-screen">
            <img class="absolute bottom-0 right-0" src="/media/Vector 9.png" alt="Decorative Vector 9" />
            <img class="absolute bottom-0 left-0" src="/media/Vector 8.png" alt="Decorative Vector 8" />
            <h2 class="text-3xl md:text-5xl font-bold">Nyheter</h2>
            <div id="cardholder" class="container mx-0 md:mx-auto px-0 md:px-16 flex flex-col gap-4">
                <!-- Cards will be loaded here -->
            </div>
            <a href="/nyheter" class="z-10 btn btn-secondary">Visa alla</a>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById("homeVideo").addEventListener('loadedmetadata', start);
        let video_length = 0;
        let fadeout = 39000;
        let i = 0;
        let removeTimeoutId;
        let addTimeoutId;

        let quotes = [
            ["Vi ser mycket långsiktigt på vårt företagande och vår målsättning är att även detta skall speglas i långvariga och trevliga kontakter med våra hyresgäster.", 8000],
            ["Vi har fastigheter i, Söderköping, Norrköping, Åby", 8000],
        ];

        function changeText() {
            let para = document.getElementById("para");
            let inner = `<p class="animate-in fade-id slide-in-from-left-72 duration-700 lg:text-2xl md:text-lg font-semibold text-white w-[200px] md:w-[400px]">${quotes[i][0]}</p>`;
            para.innerHTML = inner;
            setTimeout(changeText, quotes[i][1]);
            i = (i + 1) % quotes.length;
        }

        function add() {
            let over = document.getElementById("overvideo");
            over.classList.remove("opacity-0");
            removeTimeoutId = setTimeout(remove, fadeout);
        }

        function remove() {
            let over = document.getElementById("overvideo");
            over.classList.add("opacity-0");
            addTimeoutId = setTimeout(add, video_length - fadeout);
        }

        function start() {
            var x = document.getElementById("homeVideo").duration;
            video_length = x * 1000;
            i = 0;
            removeTimeoutId = setTimeout(remove, fadeout);
            changeText();
        }

        document.addEventListener('visibilitychange', function() {
            if (document.visibilityState === 'visible') {
                document.getElementById("homeVideo").currentTime = 0;
                clearTimeout(removeTimeoutId);
                clearTimeout(addTimeoutId);
                start();
            }
        });
    </script>
{% endblock %}
