{% extends "base.html" %}


{% block title %}Intresseanmälan - Westerberg Fastigheter AB{% endblock %}

{% block meta %}
    <meta name="description" content="Skicka in din intresseanmälan för att hyra en fastighet hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av fastigheter i Norrköping, Söderköping och Åby.">
    <meta name="keywords" content="Intresseanmälan, Westerberg Fastigheter, Hyresfastigheter, Norrköping, Söderköping, Åby, Hyra">
    <meta property="og:title" content="Intresseanmälan - Westerberg Fastigheter AB">
    <meta property="og:description" content="Skicka in din intresseanmälan för att hyra en fastighet hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av fastigheter i Norrköping, Söderköping och Åby.">
    <meta property="og:image" content="/media/slides/5.png">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
	{% include 'layouts/homepage.html' with fixed=True %}
	<div class="min-h-screen w-screen relative bg-center bg-cover bg-no-repeat bg-[url('/media/norr.jpg')]  " >
		<div class="col items-center container gap-12 mx-auto p-5 " >
		<h1 class="text-5xl font-bold mt-32 text-white" >Vad letar du efter?</h1>

		<div class='z-10 text-xl flex flex-row justify-around gap-5 w-1/2 ' >
			<a href="bostad" class="cardcomp cursor-pointer hover:bg-base-200 flex flex-col items-center justify-center duration-75  size-32" >
				<h1>Bostad</h1>
			</a>
			<a href="lokal" class="cardcomp cursor-pointer hover:bg-base-200 flex flex-col items-center justify-center duration-75  size-32" >
				<h1>Lokal</h1>
			</a>
		</div>
		</div>
	</div>
{% endblock %}
