{% extends "base.html" %}

{% block content %}
	{% include "layouts/homepage.html" %}
	<div class="w-screen min-h-screen" >
		<div id="loading" class="items-center htmx-indicator flex justify-center fixed h-screen w-screen bg-black bg-opacity-25 top-0 right-0 z-50 " >
			<span  class="text-base-200 loading loading-spinner loading-lg"></span>
		</div>

		<div class="w-full h-[30vh] p-5 bg-cover bg-center bg-[url('/static/norrköping.jpg')] flex flex-col gap-5 pt-12" >
			<h1 class="text-5xl text-white font-bold drop-shadow-lg " >Kontakta oss</h1>
			<a href="/serviceanmalan" class="btn btn-primary w-min" >Serviceanmälan</a>
		</div>
		<div class="container mx-auto p-12" >
			<h1 class="my-4 text-4xl " >Kontakta oss</h1>
			<p>Här hittar du som är hyresgäst information hur du kan komma i kontakt med oss. Du kan kontakta oss på våra uppgifter under eller skriva ett mail genom vårt formulär nedan.</p>
			<br />
			<p>Som fastighetsägare är vi engagerade i att skapa en trygg och trivsam boendemiljö för alla våra hyresgäster. Oavsett om du har frågor, behöver hjälp med något eller vill lämna en serviceanmälan, finns vi här för dig.</p>

			<h2 class="my-4 text-3xl " >Serviceanmälan</h2>
			<p>Om du har problem i din lägenhet eller i gemensamma utrymmen, kan du snabbt och enkelt göra en serviceanmälan <a href="/serviceanmalan" class="link link-primary" >här</a>. Vårt serviceteam är redo att hjälpa dig med allt från akuta reparationer till allmänna underhållsfrågor.</p>

			<h2 class="my-4 text-3xl " >Hyresgästsinformation</h2>
			<p><a href="/hyresgastinformation" class="link link-primary" >Här</a> hittar du viktig information och nyheter som rör dig som hyresgäst. Oavsett om det handlar om regler för sopsortering, planerade renoveringar eller tips för att göra ditt boende ännu bättre, hittar du allt du behöver veta här.</p>

			<h2 class="my-4 text-3xl " >Intresseanmälan</h2>
			<p>Är du intresserad av att flytta in hos oss? Gör en intresseanmälan <a href="/intresseanmalan" class="link link-primary" >här</a> för att få information om lediga lägenheter och kommande visningar. Vi ser fram emot att hjälpa dig hitta ditt nästa hem.</p>

			<h2 class="my-4 text-3xl " >Våra kontakter</h2>
			<p>Vi värdesätter din åsikt och dina frågor, så tveka inte att kontakta oss. Vårt mål är att ge dig den bästa möjliga servicen och säkerställa att du trivs i ditt hem. Tack för att du bor hos oss eller överväger att bli en del av vår gemenskap!</p>

			<div class="mt-12 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4">
				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/no_contact_picture.jpg" alt="" />
					<h3 class="font-semibold" >Service anmälan åby</h3>
					<p>Anders Brandström</p>
					<p>0705-31 84 80</p>
				</div>
				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/no_contact_picture.jpg" alt="" />
					<p>Carin Boiertz</p>
					<p>Carin@westerbergfastigheter.se</p>
					<p>011-18 13 40</p>
					<p>Telefontider: 8-12.00 varje dag samt</p>
					<p>till 15.30 måndag och onsdag. </p>
				</div>

				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/kalle.jpg" alt="" />
					<h3 class="font-semibold" >Serviceanmälan Söderköping</h3>
					<p>Kalle Malmberg</p>
					<p>0121-15610</p>
					<p>0708-17 13 41</p>
					<p>Telefontider: 8:45-9:30 </p>
					<p>(Övrig tid mobil)</p>
				</div>

				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/mats.jpg" alt="" />
					<h3 class="font-semibold" >Ansvarig för gårdsmiljöerna</h3>
					<p>Mats Sandberg</p>
					<p>0708-17 13 43</p>
				</div>

				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/no_contact_picture.jpg" alt="" />
					<p>Anders Westerberg</p>
					<p>anders@westerbergfastigheter.se</p>
				</div>

				<div class="flex flex-col items-center " >
					<img width="50%" src="/static/lasse.jpg" alt="" />
					<h3 class="font-semibold" >Serviceanmälan Norrköping</h3>
					<p>Lars Zetterbom</p>
					<p>0708-17 13 42</p>
				</div>
			</div>
		</div>
		<div class="mt-32 relative w-screen h-screen " >
			<img class="-z-10 h-full absolute bottom-0" src="/static/Vector 5.png" alt="background image" />
			<div class="w-full h-full flex flex-col items-center px-5" >
				<form hx-indicator="#loading"
					  hx-post="/kontakt/skicka/"
					  hx-swap="beforebegin"
					  class="grid gap-3 bg-white shadow-lg border-2 p-5 rounded-box w-full lg:w-1/2 xl:w-1/3">
					<h2 class="text-2xl my-4 " >Kontaktformulär</h2>
					<input placeholder="Namn" name="name" class="input input-bordered" />
					<input placeholder="E-post" name="email" type="email" class="input input-bordered" />
					<input placeholder="Telefonnummer" name="phone" class="input input-bordered" />
					<input placeholder="Ämne" name="subject" class="input input-bordered" />
					<textarea placeholder="Meddelande" name="msg" rows='7' class="textarea textarea-bordered"></textarea>
					<button class="btn btn-primary" >
					Skicka meddelande
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
