{% extends "base.html" %}

{% block title %}Lediga Bostäder - Westerberg Fastigheter AB{% endblock %}

{% block meta %}
    <meta name="description" content="Upptäck lediga bostäder hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av lägenheter i Norrköping, Söderköping och Åby.">
    <meta name="keywords" content="Lediga bostäder, Westerberg Fastigheter, Lägenheter, Norrköping, Söderköping, Åby, Hyra">
    <meta property="og:title" content="Lediga Bostäder - Westerberg Fastigheter AB">
    <meta property="og:description" content="Upptäck lediga bostäder hos Westerberg Fastigheter AB. Vi erbjuder ett brett utbud av lägenheter i Norrköping, Söderköping och Åby.">
    <meta property="og:image" content="/media/slides/5.png">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}

	{% include "layouts/homepage.html" %}
	<div hx-get="/rentals/select{% if lokaler %}/lokaler{% endif %}{{select}}" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#loading" ></div>
	{% include 'components/LoadingOverlay.html' %}

{% endblock %}
