{% extends 'base.html' %}

{% block title %}
	Akut
{% endblock %}

{% block content %}
	{% include "layouts/homepage.html" %}
<div class=" bg-base-100 shadow-xl">
  <div class="container mx-auto px-5">

    <h1 class="text-3xl font-bold mb-12" >Serviceanmälan</h1>
    <div class="h-[80vh]  shadow-lg rounded-lg p-4 flex flex-col items-center  ">
      <h1 class="text-4xl font-semibold" >Vilken passar bäst</h1>
      <div class="mx-auto w-2/3 mt-32 z-20 relative flex flex-row justify-around " >
        {% include 'components/ServiceButton.html' with href="akut" url='/media/High Priority.png' title='Akut' %}
        {% include 'components/ServiceButton.html' with href="tips" url='/media/Idea.png' title='Tips & råd' %}
        {% include 'components/ServiceButton.html' with href="annat" url='/media/Help.png' title='Annat' %}
      </div>
      <img class="z-10 absolute right-0 bottom-0 w-screen" src="/media/Vector 6.png" alt="" />
    </div>
  </div>

</div>

{% endblock %}
