<script type="text/javascript">
function generateUID() {
    return Date.now().toString(36) + '-' + Math.random().toString(36).substring(2, 10);
}

function showAlert() {
    // Generate a unique ID
    const uid = generateUID();

    // Create the alert div
    const alertDiv = document.createElement('div');
    alertDiv.setAttribute('role', 'alert');
    alertDiv.className = 'animate-in fade-in fixed w-1/3 z-50 {% if under %} top-[88px] {% else %} top-2 {% endif %} right-2 alert alert-{{type}}';
    alertDiv.id = uid;

    // Set the inner HTML of the alert div
    alertDiv.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{msg}}</span>
		<button class="btn " onclick="document.getElementById('${uid}').remove()" >close</button>
    `;

    // Append the alert div to the body
    document.body.appendChild(alertDiv);

    // Remove the alert div after 4 seconds
    setTimeout(() => {
        const element = document.getElementById(uid);
        if (element) {
            element.remove();
        }
    }, 4000);
}

// Call the showAlert function to display the alert
showAlert();

</script>
