<a href="/buildings/building/{{building.adress}}" class="card   bg-base-200 shadow-xl">
	{% with building.images.all|first as img  %}
		{% if img and img.thumbnail %}
			<figure>
				<img width="100%" src="{{ img.medium.url }}" alt="Ingen bild finns" />
			</figure>
		{% else %}
			<figure>
				<img src="{{ img.image.url }}" alt="Ingen bild finns" />
			</figure>
		{% endif %}
	{% endwith %}
	<div class="card-body p-2 justify-between">
		<h2 class="text-auto font-semibold">{{building.adress}}</h2>
	<button  class="mt-2 btn btn-md btn-secondary" >Visa mer</button>
	</div>
</a>
